.card-stack {
    display: grid;
    grid-template-columns: 1fr;
}

.card-stack__item {
    border-radius: 8px;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.2));
    grid-area: 1 / 1;
    transform: translateY(0);
    transition: transform 0.2s;
}

.card-stack__item:hover {
    transform: translateY(-10px);
}
